*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Runik' , sans-serif;
    list-style: none;
    text-decoration: none;
    
}

nav .togglebtn {
    width: 20px;
    height: 5px;
    position: absolute;
    top: 15px;
    right: 7%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span {
    display: block;
    background-color: #c3c3c3;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

header {
    position: fixed;
    height: 60px; 
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: rgba(96, 88, 206, 0.68);
}
/* From Uiverse.io by TimTrayler */ 
.searchbar {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 224px;
}

.searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-icon-wrapper {
    margin: auto;
}

.search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
}

.searchbar-right {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row
}

.searchbar-clear-icon {
    margin-right: 12px
}

.voice-search {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 2.8em;
}

/* content */
.contentt{
    margin-top: 50px;
    padding: 50px;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
}

/* From Uiverse.io by Alaner-xs */ 
.card {
    width: 250px;
    height: 270px;
    /* background-image: linear-gradient(144deg,#302C68, #6058CE 70%,rgba(167, 73, 134, 1)); */
    background-color: #212121;
    border: none;
    border-radius: 30px;
    padding-top: 10px;
    position: relative;
    margin: 50px;   
    font-family: inherit;
}

.card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
}
.card .img {
    width: 70px;
    height: 70px;
    background: #e8e8e8;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
}

.card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #e8e8e8;
    color: #111111;
    font-weight: 600;
}
.card button:hover {
    background: #212121;
    color: #ffffff;
    cursor: pointer;
}








/* ------------------------------ */
.slideshow-container {
    max-width: 90%;
    height: 10%;
    position: relative;
    margin: auto;
    margin-top: 85px;
  }

  /* أزرار التحكم*/
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* موقع أزرار التحكم الجانبية */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #1647cc;
  }
  
  /* تأثير التحرك */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 3.5s;
  }
.logo {
    color: var(--text-color);
    font-size: 39px;
    font-weight: 600;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}


.navbar a {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}

.navbar a:hover,
.navbar a:active {
    color: rgb(189, 42, 42);
}

nav .navlinks {     
    list-style-type: none;
}

nav .navlinks li {
    display: inline-block;
}

nav .navlinks li a {
    color: #000000;
    font-size: 1.2rem;
    margin-right: 2.5rem;
}




/* content */


.wrapper{
    padding: 10px 10%;
  }
  
  #card{
    padding: 50px 0;
  }
  
  .box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
  }
.box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    width: 320px;
    height: 320px;
    color: white;
}  

.box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent,#1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.7s;
}

.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80%;
    font-family: bebas neue;
    font-size: 30px;
    letter-spacing: 2px;
}

.overlay a{
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.boxLhover img{
    transform: scale(1.2);
}

.box:hover .overlay{
    height: 100%;
    
}













@media (max-width: 1370px) {
    header {
        padding: 15px 4%;
        transition: .2s;
    }
    section {
        padding: 0 4%;
        transition: .2s;
    }
    .share {
        left: 4%;
        transition: .2s;
    }
    :root {
        --big-font: 5.5rem;
        --p-font: 1rem;
        transition: .2s;
    }
    
}

@media (max-width: 1020px) {
    .navbar a {
        margin: 0 15px;
    }
    :root {
        --big-font: 5rem;
        --p-font: 1rem;
        transition: .2s;
    }
    
}

@media (max-width: 950px) {
    .share {
        display: none;
    }
    section {
        padding: 70px 4%;
    }
    header {
        padding: 11px 4%;
    }
    .home {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .home-text {
        order: 2;
    }
    .home-img {
        margin: auto;
        height: auto;
        width: auto;
    }
    .home-img img {
        max-width: 450px;
        width: 100%;
        height: auto;
    }
    
}

@media (max-width: 930px) {
    nav .togglebtn {
        display: initial;
    }
    .click {
        top: 45px;
    }
    .click span {
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child {
        transform: rotate(-40deg);
    }
    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child {
        transform: rotate(45deg);
        top: 2px;
    }
    nav .navlinks {
        position: absolute;
        top: 55px;
        right: -100%;
        bottom: 0;
        width: 50%;
        height: 100vh;
        background-color: rgba(13, 25, 61, 0.445);
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px 0px;
        color: white;
    }
    nav .navlinks li {
        display: block;
    }
    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open {
        right: 0;
    }
    .image {
        height: 100px;
        border-radius: 50%;
    }
    .logo {
        font-size: 29px;
        font-weight: 600;
    }
    
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-top: 3rem;
    }
    .image {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    .searchbar{
        width:180px;
        height: 40px;
        margin-right: 50px;
    }
    .card{
        width: 500px;
    }
}